body {
  margin: 0;
  overflow: hidden;
}

.space {
  width: 100vw;
  height: 100vh;
  background-color: rgb(33, 33, 33);
}

.planet {
  position: absolute;
  transform: translate(-50%, 50%);
}

.rocket {
  position: absolute;
  transition: all 256ms linear, transform 256ms ease-in-out;
  transform-origin: center bottom;
}

.hud {
  position: absolute;
  left: 32px;
  bottom: 24px;
}

.hud__item {
  color: rgba(236, 239, 241, .9);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: .5em 0;
}

.hud__item.hud__item_complete {
  color: rgba(76, 175, 80, .9);
}

footer {
  position: absolute;
  right: 32px;
  bottom: 24px;
  color: rgba(236, 239, 241, .9);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: .5em 0;
}
